<div class="container">
  <br>
  <form name="decode" action="/code/online">
    <div class="form-group">
      <label for="language">Select Language</label>
      <select class="form-control" id="language" name="language">
        <option>C</option>
        <option>C++</option>
        <option>Python</option>
        <option>Node JS</option>
        <option>R</option>
      </select>
    </div>

    <div class="form-group">
      <label for="code">Code : </label>
      <textarea class="form-control" id="code" name="code" rows="10"></textarea>
    </div>

    <div class="form-group">
      <label for="args">Input : </label>
      <textarea class="form-control" id="args" name="args" rows="3"></textarea>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary col-sm-2" id="submitButtonDirect" >Compile</button>
      <div class="col-sm-1"></div>
      <div id="loader" style="display: none;"></div>
    </div>

    <br/>
    <div class="form-group">
      <label for="output">Output : </label>
      <textarea class="form-control" id="output" name="output" rows ="2"></textarea>
    </div>
  </form>
</div>
